footer
{
	.col-lg-5
	{
		background: $mainColor;
	}
	.col-lg-7
	{
		background: #323C47;
	}
	.footer-left
	{
		h1
		{
			font-weight: $mainFontWeight*1.5;
			color: $mainColor3;
			font-family: space mono,Menlo,Monaco,Consolas,courier new,monospace;
			font-size: $mainFontSize*2.8;
		}
		a
		{
			font-size: $mainFontSize*1.8;
			color: #c54747;
			letter-spacing: 5px;
		}
		i
		{
			font-size: $mainFontSize*3;
			color: #c54747;
		}
		p
		{
			font-size: $mainFontSize*1.1;
			color: #c54747;
			letter-spacing: .5px;
		}
	}
	.footer-right
	{
		ul
		{
			box-sizing: border-box;

			li
			{
				a
				{
					font-size: $mainFontSize*1.1;
				}
			}
		}
		span
		{
			font-size: $mainFontSize*1.1;
		}
		i
		{
			color: $mainColor3;
		}
	}
}