#software
{
	background: url(../images/bg-image.jpg);
	background-position: 50%;
	background-size: cover;
	height: 561px;
	.content
	{
		padding-left: 0px!important;
		padding-right: 100px!important;
		box-sizing: border-box;
		h1
		{	
			font-family: space mono,Menlo,Monaco,Consolas,courier new,monospace;
			color: $mainColor3;
			line-height: 1.5;
			font-size: $mainFontSize*3.7;
		}
		p
		{
			box-sizing: border-box;
			line-height: 1.7;
			font-size: $mainFontSize*1.1;
			color: $mainColor3;
			
		}
		button
		{
			background: $mainColor;
			font-size: $mainFontSize*0.9;
			letter-spacing: 1.1px;
		}
	}
}